node_modules/
dist/
.vite/
.cache/

.env
.env.local
.vscode/
.DS_Store
*.log

__pycache__/
*.pyc
*.pyo
*.pyd

instance/
*.db
*.sqlite3

.idea/
*.sublime-workspace
*.sublime-project
*.swp
*.swo

venv/
env/
.venv/
node_modules
